body{
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: ghostwhite;

}
.container{
    position: relative;

}

.valentines{
    position: relative;
    top: 50px;
    cursor: pointer;
    animation: up 3s linear infinite;
}

.envelope{
    position: relative;
    width: 300px;
    height: 200px;
    background: deeppink;
    display: grid;
    place-items: center;

}

.envelope::before{
    content: '';
    position: absolute;
    width: 212px;
    height: 212px;
    background: deeppink;
    transform: rotate(45deg);
    top: -105px;
    left: 44px;
    border-radius: 30px 0 0 0;

}
.front{
    position: absolute;
    border-right: 180px solid #f4978e;
    border-top: 95px solid transparent;
    border-bottom: 100px solid transparent;
    left: 120px;
    top: 5px;
    width: 0;
    height: 12px;
    z-index: 10;

}

.front::before{
    position: absolute;
    content: '';
    border-left: 300px solid #fda996;
    border-top:195px solid transparent;
    left: -120px;
    top: -95px;

}

.card{
    position: relative;
    width: 250px;
    height: 190px;
    background: #fff;
    border-radius: 2px;
    display: grid;
    place-items: center;
    transition: 1s;

}

.card::before{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 2px solid #001049;
    border-style: dashed;

}
.valentines:hover .card{
    transform: translateY(-100px);

}

.card .text{
    font-family: 'Brush Script MT',cursive;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    color: #003049;

}
.card .heart{
    position: relative;
    width: 35px;
    height: 35px;
    background: red;
    bottom: 20px;
    transform: rotate(45deg);
    border-radius: 50% 0 0 50%;

}

.card .heart::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: red;
    border-radius: 0 50% 50% 0;
    right: 0;
    transform: rotate(-90deg);
    transform-origin: top;

}

.card .heart::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: red;
    right: -18px;


}